<ng-container *ngIf="workers.length > 0">
  <div class="row">
    <div class="col-12">
      <h5>{{ title }}</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col-1">#</th>
            <th scope="col-3">Имя</th>
            <th scope="col-3">Фамилия</th>
            <th scope="col-1">Возраст</th>
            <th scope="col-1">Отдел</th>
            <th scope="col-1"></th>
            <th scope="col-1"></th>
            <th scope="col-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let worker of workers">
            <!------------------------------------------------------------>
            <ng-container *ngIf="CheckHidden(worker.id)">
              <th scope="row">{{ worker.id }}</th>   

              <ng-container>
                  <td>{{ worker.name }}</td>
                  <td>{{ worker.surname }}</td>
                  <td>{{ getAge(worker.date) }}</td>
                  <td>{{ Type(worker.type) }}</td>
                  <td>
                    <button class="btn btn-outline-info btn-sm" (click)="onInfo(worker)">Сведения</button> 
                  </td>
              </ng-container>

              <td>
                <button class="btn btn-outline-warning btn-sm" (click)="onHideWorker(worker.id)">Скрыть</button>
              </td>

              <td>
                <button class="btn btn-outline-danger btn-sm" (click)="onDeleteWorker(worker.id)">Удалить</button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
