<div class="container">
  <div class="row mb-2">
    <div class="col-12">
      <h1>Разделы</h1>
    </div>
  </div>
  <nav class="mt-0">
    <a class = "btn btn-dark" routerLink="/Information">Information</a>
    <a class = "btn btn-dark ml-2" routerLink="/Worker list">Worker list</a>
  </nav>
  <div class=".text-dark">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
  <router-outlet></router-outlet>

