    <div class="col-8" [formGroup]="ChangeForm">
      <div class="row mt-1">
       <div class="col-4">
          <input type="text" class="form-control" placeholder="Имя" formControlName="name"/>
       </div>
       <div class="col-4">
          <input type="text" class="form-control" placeholder="Фамилия" formControlName="surname"/>
        </div>
       <div class="col-4">
          <input type="text" class="form-control" placeholder="Отчество" formControlName="patronimic" />
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-4">
           <input type="text" class="form-control" placeholder="Дата рождения" formControlName="date" mask="00/00/0000" [dropSpecialCharacters]="false"/>
        </div>
        <div class="col-4">
           <input type="text" class="form-control" placeholder="Email" formControlName="email" mask="A*@A*.SSS" [dropSpecialCharacters]="false"/>
         </div>
        <div class="col-4">
           <input type="text" class="form-control" placeholder="Телефон" formControlName="telephone" mask="+0(000) 000-0000" [dropSpecialCharacters]="false" />
         </div>
       </div>
    </div>

      <div class="row mt-2 ml-3">
        <select class="col-4 custom-select" [(ngModel)]="type">
          <option [ngValue]="myWorkerType.ItDepartment">IT отдел</option>
          <option [ngValue]="myWorkerType.Selldepartment">Отдел продаж</option>
          <option [ngValue]="myWorkerType.DeliveryDepartment">Отдел доставки</option>
          <option [ngValue]="myWorkerType.LegalDepartment">Юридический отдел</option>
        </select>
        <div class="col-3 mt-2">
          <button class="btn btn-primary btn-sm" (click)="onAddWorker()" [disabled]="ChangeForm.invalid">Добавить</button>
        </div>
        <div class="col-2 mt-2">
            <button class = "btn btn-primary btn-sm" routerLink="/Worker list">Назад</button>
        </div>

      </div>

