<div class="row mt-2 mb-3">
  <h5 class="col-2">Добавление рабочего: </h5>
  <nav class="mt-0">
    <button class = "btn btn-primary btn-sm" routerLink="/addForm">Добавить рабочего</button>
  </nav>
</div>
  <router-outlet></router-outlet>



  <!--<div class="col-2">
      <button class="btn btn-primary btn-sm " (click)="onStatus()" *ngIf="addStatus == false" routerLink="/Information">Добавить рабочего</button>
      <button class="btn btn-primary btn-sm" (click)="onStatus()" *ngIf="addStatus == true">Скрыть</button>
  </div>-->


